pipeline/GetDB2FileListAndClean.json
{
	"name": "GetDB2FileListAndClean",
	"properties": {
		"activities": [
			{
				"name": "GetDB2ExportFileList",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "AzureBlobDB2Source",
						"type": "DatasetReference",
						"parameters": {
							"filename": "*.DAT",
							"container": "test"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings"
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetDB2ExportFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetDB2ExportFileList').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ExecuteDateFixerPipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "DateFixerPipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "FXF"
		},
		"annotations": []
	}
}