adfln2/linkedTemplates/ArmTemplate_5.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfln2"
		},
		"lnmyserver_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/65c04546-fce4-4b3c-be44-dac0e5324e24/resourceGroups/lnprivatelink/providers/Microsoft.Sql/servers/lnmyserver"
		},
		"lnmyserver_properties_groupId": {
			"type": "string",
			"defaultValue": "sqlServer"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/lgndatalakejson')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lgndatalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "hciMastIncdntv6_hciMasterIncideObject_1900-01-01_2018-12-31.json",
						"fileSystem": "raw"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"@odata.context": {
							"type": "string"
						},
						"value": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"@odata.type": {
										"type": "string"
									},
									"@odata.id": {
										"type": "string"
									},
									"@odata.editLink": {
										"type": "string"
									},
									"Id": {
										"type": "string"
									},
									"DateCreated": {
										"type": "string"
									},
									"DateModified": {
										"type": "string"
									},
									"Deleted": {
										"type": "boolean"
									},
									"DateaTimeOccur": {
										"type": "string"
									},
									"Description": {
										"type": "string"
									},
									"ExactLocIncid": {
										"type": "string"
									},
									"IncidentNo": {
										"type": "integer"
									},
									"TimofOccurrence": {
										"type": "string"
									},
									"AdditionSummary": {
										"type": "null"
									},
									"Clients": {
										"type": "null"
									},
									"ClosingRemarks": {
										"type": "null"
									},
									"CompanyNameR": {
										"type": "null"
									},
									"CompanyPhone": {
										"type": "null"
									},
									"CostofIncident": {
										"type": "null"
									},
									"County": {
										"type": "null"
									},
									"DateClosed": {
										"type": "string"
									},
									"DateReptoEmp": {
										"type": "string"
									},
									"DateReviewed": {
										"type": "null"
									},
									"DateSentInvest": {
										"type": "null"
									},
									"DatInvestigated": {
										"type": "null"
									},
									"detailsinvesbel": {
										"type": "null"
									},
									"EHSCoorComm": {
										"type": "null"
									},
									"EHSCoorComments": {
										"type": "null"
									},
									"EmpFeedback": {
										"type": "null"
									},
									"ExternalID": {
										"type": "null"
									},
									"FieldforMyTasks": {
										"type": "string"
									},
									"FirstSentFinApp": {
										"type": "null"
									},
									"HelperYesNo": {
										"type": "boolean"
									},
									"Ifcontractor": {
										"type": "null"
									},
									"Immactorrecres": {
										"type": "null"
									},
									"ImmCorrActTaken": {
										"type": "null"
									},
									"ImportRecNo": {
										"type": "null"
									},
									"IncidentHelper": {
										"type": "null"
									},
									"IncidentValid": {
										"type": "null"
									},
									"InjPartWho": {
										"type": "null"
									},
									"InjurePartyText": {
										"type": "null"
									},
									"InvestCompleted": {
										"type": "null"
									},
									"InvestigResults": {
										"type": "null"
									},
									"InvestReq": {
										"type": "null"
									},
									"InvestTeam": {
										"type": "null"
									},
									"InvolinIncident": {
										"type": "null"
									},
									"LastSentFinApp": {
										"type": "null"
									},
									"MIPastDraftStg": {
										"type": "boolean"
									},
									"NearMiss": {
										"type": "boolean"
									},
									"ProcSafetyInci": {
										"type": "null"
									},
									"ProjectListing": {
										"type": "string"
									},
									"ProjectTask": {
										"type": "null"
									},
									"Range": {
										"type": "null"
									},
									"RCAAppComm": {
										"type": "null"
									},
									"RCAApprovDate": {
										"type": "null"
									},
									"ReporToWithText": {
										"type": "string"
									},
									"RootCause": {
										"type": "null"
									},
									"Section": {
										"type": "null"
									},
									"SecurityNotifie": {
										"type": "null"
									},
									"SuspectedCause": {
										"type": "null"
									},
									"TargClosingDate": {
										"type": "null"
									},
									"TargetDate": {
										"type": "null"
									},
									"TIIInvRequired": {
										"type": "null"
									},
									"TimofOccNew": {
										"type": "null"
									},
									"Township": {
										"type": "null"
									},
									"Witnessesadetai": {
										"type": "null"
									},
									"WitnessFName": {
										"type": "null"
									},
									"WitnessLName": {
										"type": "null"
									},
									"WitnessPhone": {
										"type": "null"
									},
									"wullowseverity": {
										"type": "null"
									},
									"CreatedBy": {
										"type": "null"
									},
									"EmployeeName": {
										"type": "null"
									},
									"Location": {
										"type": "object",
										"properties": {
											"@odata.type": {
												"type": "string"
											},
											"@odata.id": {
												"type": "string"
											},
											"@odata.editLink": {
												"type": "string"
											},
											"Id": {
												"type": "string"
											},
											"DateCreated": {
												"type": "string"
											},
											"DateModified": {
												"type": "string"
											},
											"Deleted": {
												"type": "boolean"
											},
											"Address1": {
												"type": "null"
											},
											"Address2": {
												"type": "null"
											},
											"Area": {
												"type": "null"
											},
											"City": {
												"type": "null"
											},
											"County": {
												"type": "null"
											},
											"Description": {
												"type": "string"
											},
											"District": {
												"type": "null"
											},
											"Fax": {
												"type": "null"
											},
											"License": {
												"type": "string"
											},
											"LocationCode": {
												"type": "string"
											},
											"Name": {
												"type": "string"
											},
											"Path": {
												"type": "string"
											},
											"Phone": {
												"type": "null"
											},
											"PostalCode": {
												"type": "null"
											},
											"State": {
												"type": "null"
											},
											"UserLicenseCode": {
												"type": "string"
											}
										}
									},
									"ModifiedBy": {
										"type": "object",
										"properties": {
											"@odata.type": {
												"type": "string"
											},
											"@odata.id": {
												"type": "string"
											},
											"@odata.editLink": {
												"type": "string"
											},
											"Id": {
												"type": "string"
											},
											"DateCreated": {
												"type": "string"
											},
											"DateModified": {
												"type": "string"
											},
											"Deleted": {
												"type": "boolean"
											},
											"IsSystem": {
												"type": "boolean"
											},
											"Name": {
												"type": "string"
											},
											"City": {
												"type": "null"
											},
											"Company": {
												"type": "string"
											},
											"ContractExpiry": {
												"type": "null"
											},
											"ContractorName": {
												"type": "null"
											},
											"ContractorNotes": {
												"type": "null"
											},
											"DateHired": {
												"type": "string"
											},
											"DateOfBirth": {
												"type": "null"
											},
											"Email": {
												"type": "string"
											},
											"EmergencyContact": {
												"type": "null"
											},
											"EmergencyPhone": {
												"type": "null"
											},
											"FirstName": {
												"type": "string"
											},
											"FullName": {
												"type": "string"
											},
											"Gender": {
												"type": "null"
											},
											"HomeAddress": {
												"type": "null"
											},
											"HourlyWage": {
												"type": "null"
											},
											"InsuranceExpiry": {
												"type": "null"
											},
											"IsContracted": {
												"type": "boolean"
											},
											"IsSupervisor": {
												"type": "boolean"
											},
											"IsSystemEmployee": {
												"type": "boolean"
											},
											"JobCode": {
												"type": "string"
											},
											"LastName": {
												"type": "string"
											},
											"MiddleName": {
												"type": "string"
											},
											"Notes": {
												"type": "null"
											},
											"Number": {
												"type": "string"
											},
											"Phone": {
												"type": "string"
											},
											"Position": {
												"type": "string"
											},
											"Prefix": {
												"type": "null"
											},
											"Responsibility": {
												"type": "null"
											},
											"SocialSecurity": {
												"type": "null"
											},
											"State": {
												"type": "null"
											},
											"Suffix": {
												"type": "null"
											},
											"WorkStatus": {
												"type": "null"
											},
											"ZipCode": {
												"type": "null"
											}
										}
									},
									"Supervisor": {
										"type": "null"
									},
									"Workflow": {
										"type": "object",
										"properties": {
											"@odata.type": {
												"type": "string"
											},
											"@odata.id": {
												"type": "string"
											},
											"@odata.editLink": {
												"type": "string"
											},
											"Id": {
												"type": "string"
											},
											"DateCreated": {
												"type": "string"
											},
											"DateModified": {
												"type": "string"
											},
											"Deleted": {
												"type": "boolean"
											},
											"DateNotRequired": {
												"type": "null"
											},
											"DueDate": {
												"type": "null"
											},
											"DueDateType": {
												"type": "string"
											},
											"EntityId": {
												"type": "string"
											},
											"EntityName": {
												"type": "string"
											},
											"IsVirtual": {
												"type": "boolean"
											},
											"LocationId": {
												"type": "string"
											},
											"ObjectId": {
												"type": "string"
											},
											"WorkflowStatus": {
												"type": "string"
											}
										}
									},
									"AccidentCountry": {
										"type": "null"
									},
									"ActualSeverity": {
										"type": "null"
									},
									"BehavioQuestion": {
										"type": "null"
									},
									"BehaviorSection": {
										"type": "null"
									},
									"Brand": {
										"type": "null"
									},
									"Business": {
										"type": "null"
									},
									"Category": {
										"type": "null"
									},
									"ClosedBy": {
										"type": "null"
									},
									"currentuserhelp": {
										"type": "null"
									},
									"DepartmeManager": {
										"type": "null"
									},
									"Department": {
										"type": "null"
									},
									"Discoverer": {
										"type": "null"
									},
									"EClassification": {
										"type": "object",
										"properties": {
											"@odata.type": {
												"type": "string"
											},
											"@odata.id": {
												"type": "string"
											},
											"@odata.editLink": {
												"type": "string"
											},
											"Id": {
												"type": "string"
											},
											"Deleted": {
												"type": "boolean"
											},
											"DateCreated": {
												"type": "string"
											},
											"DateModified": {
												"type": "string"
											},
											"Value": {
												"type": "string"
											},
											"Index": {
												"type": "integer"
											},
											"Caption": {
												"type": "string"
											}
										}
									},
									"EHSCoordinator": {
										"type": "null"
									},
									"EmployeeType": {
										"type": "object",
										"properties": {
											"@odata.type": {
												"type": "string"
											},
											"@odata.id": {
												"type": "string"
											},
											"@odata.editLink": {
												"type": "string"
											},
											"Id": {
												"type": "string"
											},
											"Deleted": {
												"type": "boolean"
											},
											"DateCreated": {
												"type": "string"
											},
											"DateModified": {
												"type": "string"
											},
											"Value": {
												"type": "string"
											},
											"Index": {
												"type": "integer"
											},
											"Caption": {
												"type": "string"
											}
										}
									},
									"Environment": {
										"type": "null"
									},
									"FinalApprover": {
										"type": "null"
									},
									"IncidenOccurred": {
										"type": "object",
										"properties": {
											"@odata.type": {
												"type": "string"
											},
											"@odata.id": {
												"type": "string"
											},
											"@odata.editLink": {
												"type": "string"
											},
											"Id": {
												"type": "string"
											},
											"Deleted": {
												"type": "boolean"
											},
											"DateCreated": {
												"type": "string"
											},
											"DateModified": {
												"type": "string"
											},
											"Value": {
												"type": "string"
											},
											"Index": {
												"type": "null"
											},
											"Caption": {
												"type": "string"
											}
										}
									},
									"InjPartOther": {
										"type": "null"
									},
									"InjPartSubcon": {
										"type": "null"
									},
									"InvestiAssigned": {
										"type": "null"
									},
									"InvestigatedBy": {
										"type": "null"
									},
									"OfficeLocation": {
										"type": "object",
										"properties": {
											"@odata.type": {
												"type": "string"
											},
											"@odata.id": {
												"type": "string"
											},
											"@odata.editLink": {
												"type": "string"
											},
											"Id": {
												"type": "string"
											},
											"DateCreated": {
												"type": "string"
											},
											"DateModified": {
												"type": "string"
											},
											"Deleted": {
												"type": "boolean"
											},
											"Address1": {
												"type": "null"
											},
											"Address2": {
												"type": "null"
											},
											"Area": {
												"type": "null"
											},
											"City": {
												"type": "null"
											},
											"County": {
												"type": "null"
											},
											"Description": {
												"type": "string"
											},
											"District": {
												"type": "null"
											},
											"Fax": {
												"type": "null"
											},
											"License": {
												"type": "string"
											},
											"LocationCode": {
												"type": "string"
											},
											"Name": {
												"type": "string"
											},
											"Path": {
												"type": "string"
											},
											"Phone": {
												"type": "null"
											},
											"PostalCode": {
												"type": "null"
											},
											"State": {
												"type": "null"
											},
											"UserLicenseCode": {
												"type": "string"
											}
										}
									},
									"OfficePractice": {
										"type": "object",
										"properties": {
											"@odata.type": {
												"type": "string"
											},
											"@odata.id": {
												"type": "string"
											},
											"@odata.editLink": {
												"type": "string"
											},
											"Id": {
												"type": "string"
											},
											"DateCreated": {
												"type": "string"
											},
											"DateModified": {
												"type": "string"
											},
											"Deleted": {
												"type": "boolean"
											},
											"PracticeID": {
												"type": "string"
											},
											"PracticeName": {
												"type": "string"
											},
											"RecordNo": {
												"type": "integer"
											}
										}
									},
									"People": {
										"type": "null"
									},
									"PotentaSeverity": {
										"type": "null"
									},
									"PRInvestigation": {
										"type": "null"
									},
									"ProjDirectoryv4": {
										"type": "null"
									},
									"ProjectNumber": {
										"type": "null"
									},
									"ProjectNumberv4": {
										"type": "null"
									},
									"Property": {
										"type": "null"
									},
									"Quality": {
										"type": "null"
									},
									"RCAApproverNAme": {
										"type": "null"
									},
									"ReforAssignment": {
										"type": "null"
									},
									"ReportedBy": {
										"type": "null"
									},
									"ReportedTo": {
										"type": "null"
									},
									"ReportType": {
										"type": "null"
									},
									"ReviewedBy": {
										"type": "null"
									},
									"SafeAcciLocType": {
										"type": "null"
									},
									"Shift": {
										"type": "null"
									},
									"State": {
										"type": "null"
									},
									"TimeZone": {
										"type": "object",
										"properties": {
											"@odata.type": {
												"type": "string"
											},
											"@odata.id": {
												"type": "string"
											},
											"@odata.editLink": {
												"type": "string"
											},
											"Id": {
												"type": "string"
											},
											"Deleted": {
												"type": "boolean"
											},
											"DateCreated": {
												"type": "string"
											},
											"DateModified": {
												"type": "string"
											},
											"Value": {
												"type": "string"
											},
											"Index": {
												"type": "integer"
											},
											"Caption": {
												"type": "string"
											}
										}
									},
									"CorrectiActions": {
										"type": "array"
									},
									"IncidentTypes": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"@odata.type": {
													"type": "string"
												},
												"@odata.id": {
													"type": "string"
												},
												"@odata.editLink": {
													"type": "string"
												},
												"Id": {
													"type": "string"
												},
												"Deleted": {
													"type": "boolean"
												},
												"DateCreated": {
													"type": "string"
												},
												"DateModified": {
													"type": "string"
												},
												"Value": {
													"type": "string"
												},
												"Index": {
													"type": "null"
												},
												"Caption": {
													"type": "string"
												}
											}
										}
									},
									"IndividInvolved": {
										"type": "array"
									},
									"RoCauseAnalysis": {
										"type": "array"
									},
									"RootCauseList": {
										"type": "array"
									},
									"SubIncidents": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"@odata.type": {
													"type": "string"
												},
												"@odata.id": {
													"type": "string"
												},
												"@odata.editLink": {
													"type": "string"
												},
												"Id": {
													"type": "string"
												},
												"DateCreated": {
													"type": "string"
												},
												"DateModified": {
													"type": "string"
												},
												"Deleted": {
													"type": "boolean"
												},
												"HelperPastD": {
													"type": "boolean"
												},
												"IncidenRecordNo": {
													"type": "integer"
												},
												"InjurePartyName": {
													"type": "string"
												},
												"InjuryType": {
													"type": "string"
												}
											}
										}
									},
									"ILX.Attachments@odata.context": {
										"type": "string"
									},
									"ILX.Attachments": {
										"type": "array"
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/loans')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lgnstorageloans",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "loans.csv",
						"container": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "member_id",
						"type": "String"
					},
					{
						"name": "loan_amnt",
						"type": "String"
					},
					{
						"name": "funded_amnt",
						"type": "String"
					},
					{
						"name": "funded_amnt_inv",
						"type": "String"
					},
					{
						"name": "term",
						"type": "String"
					},
					{
						"name": "int_rate",
						"type": "String"
					},
					{
						"name": "installment",
						"type": "String"
					},
					{
						"name": "grade",
						"type": "String"
					},
					{
						"name": "sub_grade",
						"type": "String"
					},
					{
						"name": "emp_title",
						"type": "String"
					},
					{
						"name": "emp_length",
						"type": "String"
					},
					{
						"name": "home_ownership",
						"type": "String"
					},
					{
						"name": "annual_inc",
						"type": "String"
					},
					{
						"name": "verification_status",
						"type": "String"
					},
					{
						"name": "issue_d",
						"type": "String"
					},
					{
						"name": "loan_status",
						"type": "String"
					},
					{
						"name": "pymnt_plan",
						"type": "String"
					},
					{
						"name": "url",
						"type": "String"
					},
					{
						"name": "desc",
						"type": "String"
					},
					{
						"name": "purpose",
						"type": "String"
					},
					{
						"name": "title",
						"type": "String"
					},
					{
						"name": "zip_code",
						"type": "String"
					},
					{
						"name": "addr_state",
						"type": "String"
					},
					{
						"name": "dti",
						"type": "String"
					},
					{
						"name": "delinq_2yrs",
						"type": "String"
					},
					{
						"name": "earliest_cr_line",
						"type": "String"
					},
					{
						"name": "inq_last_6mths",
						"type": "String"
					},
					{
						"name": "mths_since_last_delinq",
						"type": "String"
					},
					{
						"name": "mths_since_last_record",
						"type": "String"
					},
					{
						"name": "open_acc",
						"type": "String"
					},
					{
						"name": "pub_rec",
						"type": "String"
					},
					{
						"name": "revol_bal",
						"type": "String"
					},
					{
						"name": "revol_util",
						"type": "String"
					},
					{
						"name": "total_acc",
						"type": "String"
					},
					{
						"name": "initial_list_status",
						"type": "String"
					},
					{
						"name": "out_prncp",
						"type": "String"
					},
					{
						"name": "out_prncp_inv",
						"type": "String"
					},
					{
						"name": "total_pymnt",
						"type": "String"
					},
					{
						"name": "total_pymnt_inv",
						"type": "String"
					},
					{
						"name": "total_rec_prncp",
						"type": "String"
					},
					{
						"name": "total_rec_int",
						"type": "String"
					},
					{
						"name": "total_rec_late_fee",
						"type": "String"
					},
					{
						"name": "recoveries",
						"type": "String"
					},
					{
						"name": "collection_recovery_fee",
						"type": "String"
					},
					{
						"name": "last_pymnt_d",
						"type": "String"
					},
					{
						"name": "last_pymnt_amnt",
						"type": "String"
					},
					{
						"name": "next_pymnt_d",
						"type": "String"
					},
					{
						"name": "last_credit_pull_d",
						"type": "String"
					},
					{
						"name": "collections_12_mths_ex_med",
						"type": "String"
					},
					{
						"name": "mths_since_last_major_derog",
						"type": "String"
					},
					{
						"name": "policy_code",
						"type": "String"
					},
					{
						"name": "application_type",
						"type": "String"
					},
					{
						"name": "annual_inc_joint",
						"type": "String"
					},
					{
						"name": "dti_joint",
						"type": "String"
					},
					{
						"name": "verification_status_joint",
						"type": "String"
					},
					{
						"name": "acc_now_delinq",
						"type": "String"
					},
					{
						"name": "tot_coll_amt",
						"type": "String"
					},
					{
						"name": "tot_cur_bal",
						"type": "String"
					},
					{
						"name": "open_acc_6m",
						"type": "String"
					},
					{
						"name": "open_il_6m",
						"type": "String"
					},
					{
						"name": "open_il_12m",
						"type": "String"
					},
					{
						"name": "open_il_24m",
						"type": "String"
					},
					{
						"name": "mths_since_rcnt_il",
						"type": "String"
					},
					{
						"name": "total_bal_il",
						"type": "String"
					},
					{
						"name": "il_util",
						"type": "String"
					},
					{
						"name": "open_rv_12m",
						"type": "String"
					},
					{
						"name": "open_rv_24m",
						"type": "String"
					},
					{
						"name": "max_bal_bc",
						"type": "String"
					},
					{
						"name": "all_util",
						"type": "String"
					},
					{
						"name": "total_rev_hi_lim",
						"type": "String"
					},
					{
						"name": "inq_fi",
						"type": "String"
					},
					{
						"name": "total_cu_tl",
						"type": "String"
					},
					{
						"name": "inq_last_12m",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/movie_dataflow_sink1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MyAzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "demo"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/movie_dataflow_source1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MyAzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "movies.csv",
						"container": "demo"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "movieId",
						"type": "String"
					},
					{
						"name": "title",
						"type": "String"
					},
					{
						"name": "genres",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/moviesDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MyAzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "moviesdb.csv",
						"container": "mycontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "movie",
						"type": "String"
					},
					{
						"name": "title",
						"type": "String"
					},
					{
						"name": "genres",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "Rating",
						"type": "String"
					},
					{
						"name": "Rotton Tomato",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/names1001')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MyAzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "90 Records.csv",
						"folderPath": "SampleData/HR",
						"container": "mycontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Emp ID",
						"type": "String"
					},
					{
						"name": "Name Prefix",
						"type": "String"
					},
					{
						"name": "First Name",
						"type": "String"
					},
					{
						"name": "Middle Initial",
						"type": "String"
					},
					{
						"name": "Last Name",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "E Mail",
						"type": "String"
					},
					{
						"name": "Father's Name",
						"type": "String"
					},
					{
						"name": "Mother's Name",
						"type": "String"
					},
					{
						"name": "Mother's Maiden Name",
						"type": "String"
					},
					{
						"name": "Date of Birth",
						"type": "String"
					},
					{
						"name": "Time of Birth",
						"type": "String"
					},
					{
						"name": "Age in Yrs.",
						"type": "String"
					},
					{
						"name": "Weight in Kgs.",
						"type": "String"
					},
					{
						"name": "Date of Joining",
						"type": "String"
					},
					{
						"name": "Quarter of Joining",
						"type": "String"
					},
					{
						"name": "Half of Joining",
						"type": "String"
					},
					{
						"name": "Year of Joining",
						"type": "String"
					},
					{
						"name": "Month of Joining",
						"type": "String"
					},
					{
						"name": "Month Name of Joining",
						"type": "String"
					},
					{
						"name": "Short Month",
						"type": "String"
					},
					{
						"name": "Day of Joining",
						"type": "String"
					},
					{
						"name": "DOW of Joining",
						"type": "String"
					},
					{
						"name": "Short DOW",
						"type": "String"
					},
					{
						"name": "Age in Company (Years)",
						"type": "String"
					},
					{
						"name": "Salary",
						"type": "String"
					},
					{
						"name": "Last % Hike",
						"type": "String"
					},
					{
						"name": "SSN",
						"type": "String"
					},
					{
						"name": "Phone No. ",
						"type": "String"
					},
					{
						"name": "Place Name",
						"type": "String"
					},
					{
						"name": "County",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "Zip",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "User Name",
						"type": "String"
					},
					{
						"name": "Password",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/nyctaxi_source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lgndatalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "yellow_tripdata_2016-06.txt",
						"folderPath": "US/nyctaxi/2016",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/nyctaxisink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lgndatalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "analyticssandbox"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/searchLog1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MyAzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "SearchLog.tsv",
						"container": "searchlog"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "_c0",
						"type": "String"
					},
					{
						"name": "_c1",
						"type": "String"
					},
					{
						"name": "_c2",
						"type": "String"
					},
					{
						"name": "_c3",
						"type": "String"
					},
					{
						"name": "_c4",
						"type": "String"
					},
					{
						"name": "_c5",
						"type": "String"
					},
					{
						"name": "_c6",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_corasqlanalyticneus01')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "link_azure_sql_corasqlanalyticneus01",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "string",
						"defaultValue": "TableName"
					},
					"SchemaName": {
						"type": "string",
						"defaultValue": "SchemaName"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SrcRootURI",
						"type": "varchar"
					},
					{
						"name": "SrcObjectName",
						"type": "varchar"
					},
					{
						"name": "DatalakeFolder",
						"type": "varchar"
					},
					{
						"name": "DatalakeFileName",
						"type": "varchar"
					},
					{
						"name": "DestDbName",
						"type": "varchar"
					},
					{
						"name": "DestSchemaName",
						"type": "varchar"
					},
					{
						"name": "DestTableName",
						"type": "varchar"
					},
					{
						"name": "SrcRowCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DestRowCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DatalakeLoadStatus",
						"type": "int",
						"precision": 10
					},
					{
						"name": "StageLoadStatus",
						"type": "int",
						"precision": 10
					},
					{
						"name": "MaxLoadDateTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DatalakeLoad_Start",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DatalakeLoad_End",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "StageLoad_Start",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "StageLoad_End",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "RowIsCurrent",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": {
						"value": "@dataset().SchemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/taxi_trip_data_input1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MyAzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "trip_data_1.csv",
						"container": "demo"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/taxi_trip_fare_input1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MyAzureBlobLinkedService",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "trip_fare_1.csv",
						"container": "demo"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureManagedVnet')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "East US 2",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 15
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/lnmyserver')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('lnmyserver_properties_privateLinkResourceId')]",
				"groupId": "[parameters('lnmyserver_properties_groupId')]"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyAndMerge')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyDataTempToTarget",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32"
										},
										"sink": {
											"name": "id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "value",
											"type": "String"
										},
										"sink": {
											"name": "value",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "spMergeTempToTarget",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyDataTempToTarget",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spMergeData]"
						},
						"linkedServiceName": {
							"referenceName": "linkedService1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "CopyAndMerge"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyMultiTableJSONArray')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEachTableInArray",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.cw_items",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "CopyFromSQLDBtoBlob",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "@{item().source.tableName}"
										},
										{
											"name": "Destination",
											"value": "raw/@{item().destination.fileName}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "SqlSource",
											"partitionOption": "None"
										},
										"sink": {
											"type": "BlobSink"
										},
										"enableStaging": false,
										"enableSkipIncompatibleRow": true,
										"dataIntegrationUnits": 0
									},
									"inputs": [
										{
											"referenceName": "SourceDataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SinkDataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"cw_items": {
						"type": "Array",
						"defaultValue": [
							{
								"source": {
									"tableName": "[[dbo].[mktzips]"
								},
								"destination": {
									"fileName": "[dbo].[mktzips].txt"
								}
							},
							{
								"source": {
									"tableName": "[[dbo].[zcshapes]"
								},
								"destination": {
									"fileName": "[dbo].[zcshapes].txt"
								}
							}
						]
					}
				},
				"folder": {
					"name": "Copy Demos"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyMultiTableJSONArray_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEachTableInArray",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.cw_items",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "CopyFromSQLDBtoBlob",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "@{item().source.tableName}"
										},
										{
											"name": "Destination",
											"value": "raw/@{item().destination.fileName}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "SqlSource",
											"partitionOption": "None"
										},
										"sink": {
											"type": "BlobSink"
										},
										"enableStaging": false,
										"enableSkipIncompatibleRow": true,
										"dataIntegrationUnits": 0
									},
									"inputs": [
										{
											"referenceName": "SourceDataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SinkDataset",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "CreateCCIIndexes",
						"description": "Convert heap targets to CCI",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "    DECLARE @SQLscript nVARCHAR(1000) =\n'CREATE CLUSTERED COLUMNSTORE INDEX &&& ON @@@ WITH (DROP_EXISTING = ON,COMPRESSION_DELAY = 0)'\n\ndeclare @tables table (\n    rowId int identity(1,1),\n    name nvarchar(max)\n);\n\ninsert      @tables\nselect      schema_name(schema_id) + '.' + name \nfrom        sys.tables\nwhere       type_desc = 'user_table'\n\ndeclare @rowId int = 1;\ndeclare @table nvarchar(max);\ndeclare @sql nvarchar(max);\n\nwhile @rowId <= (select max(rowId) from @tables) begin\n    select @table = name from @tables where rowId = @rowId;\n    SET @SQLscript = REPLACE(REPLACE(@SQLscript, '@@@',@table) ,'&&&','cci_' + SUBSTRING(REPLACE(@table,'].[','_'),CHARINDEX('.',REPLACE(@table,'].[','_'))+1,LEN(REPLACE(@table,'].[','_'))))\n BEGIN TRY \n  EXEC  sp_executeSql @SQLscript; \n  END TRY \n  BEGIN CATCH \n  PRINT @SQLscript\n  END CATCH \n\n    SET @SQLscript = 'CREATE CLUSTERED COLUMNSTORE INDEX &&& ON @@@ WITH (DROP_EXISTING = OFF,COMPRESSION_DELAY = 0)'\n    set @rowId += 1;\nend",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlDatabaseDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"cw_items": {
						"type": "Array",
						"defaultValue": [
							{
								"source": {
									"tableName": "[[dbo].[mktzips]"
								},
								"destination": {
									"fileName": "[dbo].[mktzips].txt"
								}
							},
							{
								"source": {
									"tableName": "[[dbo].[zcshapes]"
								},
								"destination": {
									"fileName": "[dbo].[zcshapes].txt"
								}
							}
						]
					}
				},
				"folder": {
					"name": "Copy Demos"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_Accounts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_y74",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "data//CSU South Consumption Plays.xlsx"
							},
							{
								"name": "Destination",
								"value": "dbo.csuaccounts"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "TPID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TPID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AccountName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AccountName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Industry",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Industry",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Vertical",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vertical",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "VerticalCategory",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VerticalCategory",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SegmentGroup",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SegmentGroup",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SubSegment",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubSegment",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Segment",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Segment",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SalesGroup",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SalesGroup",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SalesUnit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SalesUnit",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ATUGroup",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ATUGroup",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ATU",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ATU",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ATU FY21",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ATU FY21",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sales Territory",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Sales Territory",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Sales Territory FY21",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Sales Territory FY21",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ATUM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ATUM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ATUM FY21",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ATUM FY21",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AE FY21",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AE FY21",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AE Change FY22",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AE Change FY22",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Infra SSP",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Infra SSP",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Infra SSP FY21",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Infra SSP FY21",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Infra Change FY22",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Infra Change FY22",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "D&AI SSP",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "D&AI SSP",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "D&AI SSP FY21",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "D&AI SSP FY21",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DAI Change FY22",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DAI Change FY22",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "App Dev",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "App Dev",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "App Dev FY21",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "App Dev FY21",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "App Dev Change FY22",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "App Dev Change FY22",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SAP SSP",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SAP SSP",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Hunter",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Hunter",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Hunter FY21",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Hunter FY21",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "App Dev Change FY222",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "App Dev Change FY222",
											"type": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_y74",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_y74",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_plays')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_vxm",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "data//CSU South Consumption Plays.xlsx"
							},
							{
								"name": "Destination",
								"value": "dbo.csuplays"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CP Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CP Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TPID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TPID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Top Parent",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Top Parent",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STB Mid Segment",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "STB Mid Segment",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Area",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Area",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Industry",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Industry",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EOU",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EOU",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "M2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "M2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Potential ACR$",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Potential ACR"
										}
									},
									{
										"source": {
											"name": "M1 Assigned",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "M1 Assigned",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CSA Assigned",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CSA Assigned",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Status (Accept/Reject)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Status"
										}
									},
									{
										"source": {
											"name": "Comment/Reason if Rejected",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Comment"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_vxm",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_vxm",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_z0a')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_z0a",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "raw//hciMastIncdntv6_hciMasterIncideObject_1900-01-01_2018-12-31.json"
							},
							{
								"name": "Destination",
								"value": "dbo.jsontest"
							}
						],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_z0a",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_z0a",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Archive"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}